<!--<div class="">
  <app-general></app-general>
  <app-laboratory></app-laboratory>
  <app-stock></app-stock>
</div>
-->

<!--<div class="container-general">
  <div class="wrap-general">
    <a
      routerLink="/general"
      routerLinkActive="my-active-class "
      class="general-general"
      >General</a
    >
  </div>
</div>
<div class="container-general">
  <div class="wrap-laboratory">
    <a
      routerLink="/laboratory"
      routerLinkActive="active"
      class="laboratory-laboratory"
      >Laboratory</a
    >
  </div>
</div>
<div class="container-general">
  <div class="wrap-stock">
    <a routerLink="/stock" routerLinkActive="active" class="stock-stock"
      >Stock</a
    >
  </div>
</div>
<br />
<br />

<hr />-->

<div class="general-container-div">
  <a routerLink="/general" routerLinkActive="my-active-class">General</a>
</div>
<div class="laboratory-container-div">
  <a routerLink="/laboratory" routerLinkActive="my-active-class">Laboratory</a>
</div>
<div class="stock-container-div">
  <a routerLink="/stock" routerLinkActive="my-active-class">Stock</a>
</div>
<br />
<br />

<hr />
